*{
    margin: 0;
    padding: 0;
}
.footerContainer{
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 3fr));
    text-align: center;
    gap: 40px;
    padding: 40px;
    background-color: #F9FBFC;
    width: 100vw;
}
li{
    list-style: none;
}
.specialSocialMediaFakeContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.bottomFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    background-color: #F9FBFC;
}
.bottomFooterContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
@media screen and (max-width: 1490px) {
    .footerContainer{
    grid-template-columns: repeat(3, minmax(0, 1fr));
    }

}
@media screen and (max-width: 768px) {
    .footerContainer{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media screen and (max-width: 400px) {
    .footerContainer{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .bottomFooterContainer{
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}