*{
    margin: 0;
    padding: 0;
}
.blogContainer{
    display: flex;
    flex-direction: column;
    gap:10px;
    box-sizing: border-box;
}
.blogImg{
    width: 95%;
    height: 260px;
    border-radius: 16px;
}
.blogImgContainer{
    position: relative;
}
.blogType{
    position: absolute;
    top: 20px;
    left: 20px;
    height: 35px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    z-index: 1;
}
.soundBlogType{
    width: 71px;
}
.accessoriesBlogType{
    width: 110px;
}
.exteriorBlogType{
    width: 81px;
}
.blogInfo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.blogDetails{
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 20px;
}
