.topSection {
    background-image: url(../../Assets/General/Background.png);
    height: 960px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    padding-left: 120px;
    color: white;
    background-repeat: no-repeat;
    background-size: 100%;
}

.topSectionDiv {
    align-items: start;
}

.topFontContainer {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    display: flex;
    align-items: center;
    color: white;
    font-family: 'DM Sans';
    padding-left: 120px;
}

.topFontContainer2 {
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 75px;
    display: flex;
    align-items: center;
    color: white;
    font-family: 'DM Sans';
    padding-left: 120px;
}

.topSectionDiv2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 450px;
    padding-left: 85px;
    padding-top: 10px;
}

.topContainerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    font-family: 'DM Sans';
}

.learnMoreButton {
    margin-left: 120px;
    padding: 10px 20px 10px 20px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
}

.sectionTypeCar {
    display: flex;
    margin: 170px;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-around;
}

.browseByTypeArticle {
    display: flex;
    padding: 10px 20px 10px 20px;
    margin-top: 50px;
    display: flex;
    justify-content: center;    
    gap: 10px;
    border-radius: 10px;
    justify-content: space-between;
    color: #050b20;
}

.viewAllButton {
    margin-left: 120px;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
}

.carTypesArticle {
    padding-left: 15px;
    width: min-content;

}

.bigContainerCarType {
    display: flex;
    gap: 15px;
}

.sedan {
    display: flex;
    justify-content: center;
    color: #050b20;
}

.exploreAllVehicleSection {
    align-items: start;
}

.exploreAllVehicleDiv {
    display: flex;
    margin-left: 300px;
    margin-right: 165px;
    padding: 10px 20px 10px 20px;
    margin-top: 50px;
    display: flex;
    gap: 10px;
    border-radius: 10px;
    justify-content: space-around;
    color: #050b20;
}


.vehicleExploreHeader {
    align-items: start;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 200px;
}

.exploreAllVehicleDiv2 {
    display: flex;
    padding: 10px 20px 10px 20px;
}

.recentCarsText {
    display: flex;
    justify-content: start;
    margin-left: 240px;
}

.viewAllButton2 {
    margin-left: 120px;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    margin-right: 160px;
}


.sectionVehiclesSelected{
    display: flex   ;
    margin: 170px;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-around;
}

