.typeItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 190px;
    width: 190px;
    box-sizing: border-box;
}
.typeItem h4{
    font-size: 18px;
    font-weight: 500;
}
.typeImg{
    width: 185px;
    height: 150px;
}