.typeItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 190px;
    width: 210px;
    border: 3px;
    border-style:solid;
    box-sizing: border-box;
    border-radius: 16px;
}
.typeImg{
    width: 165px;
    height: 150px;
}